// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #0CFFCA;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-green: #1FC1A1;

$dark-grey: #393E46;
$white: #F2F3F4;
$grey-border: #c4c4c4;
$home-grey: #ededed
