// Specific CSS for your home-page

.how-it-works {
  background-color: $white;
  height: 85vh;
}


.how-it-works h1 {
  color: #393E46;
  text-align: center;
  margin-top: 64px;
}


.how-it-works h3 {
  color: #1FC1A1;
}

.inv-gro-yie {
  display: flex;

}
.info-card {
  border: 1px solid #89939E;
  border-radius: 16px;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  padding: 24px 24px 24px 24px;
  margin-top: 100px;
  box-shadow: 5px 10px #393E46;
}

