// Specific CSS for your home-page

.vestate-home {
  height: 83px;
  position: relative;
  top: -151px;
  color: #1FC1A1;
}



.container-home {
  padding-top: 50px;
  padding-bottom: 50px;
}

.how-it-works h1 {
  color: #393E46;
  text-align: center;

}


.how-it-works h3 {
  color: #1FC1A1;
}

.cards-home {
  display: flex;

}

#grow {
  margin-left: 64px;
  margin-right: 64px;
}



.info-card {
  border: 1px solid $dark-green;
  border-radius: 16px;
  width: 400px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 24px 24px 24px 24px;
  box-shadow: 0px 0px $dark-green;
}

.info-card:hover {
  box-shadow: 5px 4px 7px rgba(57, 62, 70, 0.6);
}

.info-card-promise {
  border: 1px solid $dark-green;
  border-radius: 16px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 24px 24px 24px 24px;
  box-shadow: 0px 0px $dark-green;
}

.info-card-promise:hover {
  box-shadow: 5px 4px 7px rgba(57, 62, 70, 0.6);
}

.featured-prop {

  background: $home-grey;
}

.featured-prop h1 {
  text-align: center;
}
.promises {
 background: #F2F3F4;
}

.cards-home-benefits {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.container-home-color {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $home-grey;
}

.benefits h1{
  padding: 0px;
}

.info-card-benefits {
  display: flex;
  height: 100px;
  width: 300px;
  border: 2px solid $dark-green;
  border-radius: 55px;
  text-align: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 24px 24px 24px 24px;
  align-items: center;
  background-color: $white;
}

.info-card-benefits:hover {
  box-shadow: 5px 4px 7px rgba(57, 62, 70, 0.6);
}

.info-card-benefits p {
  color: $dark-green;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
}

.info-card h3 {
  color: #1FC1A1;
}

.info-card-promise h3 {
  color: #1FC1A1;
}

.info-card img {
  height: 150px;
  margin-top: 16px;
}



.leaning-man {
  width: 20%;
  overflow: hidden;
  position: relative;
  left: -190px;
  top: -150px;
}

.leaning-woman {
  width: 70%;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.img-leaning {
  margin-left: 3px;
}



.section-project {
  padding: 50px 0;
  position: relative;
  background-color: #EDEDED;
}

.section__title, .section__subtitle {
  text-align: center;
  color: black;
  display: block;
}

.section__title {
  line-height: 1;
  margin: 7px 0 -102px;

}

.section__subtitle a {
  font-size: 1.2em;
  line-height: 1.5;
  opacity: .5;
  color: inherit
}


.project-carousel {
  position: relative;
  padding: 50px 0;
}


.project-strip {
  margin: 150px 0 150px;
  filter: blur(10px);
  display: flex;
}

.project-strip .project {
    cursor: pointer;

}

.project-strip .card-property {
    max-width: 100%;
    width: 100%;
    height: auto;
}


.project-screen {
  width: 768px;
  height: 451px;
  position: absolute;
  left: 0;
  right: 0;
  top: 172px;
  bottom: 0;
  margin: auto;
}

.project-screen .project-detail {
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    width: 400px;
    margin: 32px auto 0;
    z-index: 1;
    background-color: #333;

}

.project-screen .screen-frame{
    content:" ";
    width: 768px;
    height: 451px;
    position: absolute;
    background-image: url("https://dl.dropboxusercontent.com/u/26808427/cdn/experiments/training/macbook-frame.png");
    background-repeat: no-repeat;
  }

.project-screen .project-details .project{
    margin-right: -100%;
    height: 250px;
    float: left;
    cursor: move;
    border-radius: 6px;
  }

h1.home-title {
    position: relative;
    top: -110px;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size:  50px;
    font-weight: bold;
}


.highlighted {
    line-height: 1.1em;
    display: inline-block;
    padding: 2px 15px 4px;
    font-style: normal;
    border-radius: 3px;
}

.highlighted-green {
    color: $green;
    background: rgba(1, 180, 1, 0.2);
}
