<footer>

<div class="footer-top">
  <div class="footer-links-text" >
    <%= link_to "About", root_path%>
    <%= link_to "Invest", properties_path%>
    <%= link_to "Raise", home_developers_path %>
    <%= link_to "Portfolio", dashboards_path %>
  </div>
  <div class="footer-contact" >
    <div class = "footer-contact-text">
    <p> T: +44 207 608 377 </p>
    <p> E: info@vestate.fund </p>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
   <div class="footer-form">
    <input type="text" placeholder="Enter Email", class="footer-email">
    <input type="submit" value="Subscribe Now" class="btn-success-small text">
   </div>
</div>

</footer>
