<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvallavgs/image/upload/v1585238183/abstract-architecture-black-and-white-boardwalk-262367_jufirj.jpg);">
  <div class="container do-it">
    <h1> Looking to <strong> Raise Money For Your Development Project  </strong> ? </h1>
    <p>With Vestate and its crowd investors, raising funds for your property acquisition / development has never been so easy</p>
    <%= link_to "Start New Application", new_property_path, class: 'btn-success-home' %>
    <%= link_to "Talk To The Team", "#", class: 'btn-secondary-home' %>
  </div>
</div>

<div class="container container-info-page pt-3 pb-5">
  <h3>How it works</h3>
  <p> 1. Send us the details of your property and we will review
    2. If your investment meets our minimum criteria, we will list the property on Vestate
    (first this is done privately and then publicly - described below)
    4. Once, the funding level is reached, an SPV set up by Vestate acquires the property and investors / developers retain a share in the company propertionate to their investment amount
    5. Develop the property, generate profits and share the returns with the investors
  <h3>Private Crowdfunding</h3>
    1. At Vestate, we take developer validation seriously and we put our investors and developers first
    2. In order to list your property on the platform, a minimum of 10% of the funding amount must be reached by the develop and its known network
    3. Once your property has reached the minimum private fundraising level, the investment is open to the public crowd
  <h3>Public Crowdfunding</h3>
    1. Following a successful private fundraising, the property is listed publicly for all of our investors
    2. Investors on our platform can invest in small increments to reach the funding level desired
    3. We understand time is often of the essence, so while you are fundraising privately, we showcase the investment and generate interest from the public crowd in the mean time
</div>
