<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvallavgs/image/upload/v1585238183/abstract-architecture-black-and-white-boardwalk-262367_jufirj.jpg);">
  <div class="container do-it">
    <h1> looking for <strong> investments </strong> ?</h1>
    <p>With vestate finding the right investments has ever been that easy.</p>
    <%= link_to "start new application", new_property_path, class: 'btn-success-home' %>
    <%= link_to "talk to the team", "#", class: 'btn-secondary-home' %>
  </div>
</div>

<div class="container container-info-page pt-3 pb-5">
  <h3>how it works</h3>
  <h3>Private Crowdfunding</h3>
  <h3>Public Crowdfunding</h3>


</div>
