<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvallavgs/image/upload/v1585126355/boban-simonovski-qkJ8sTSg0hk-unsplash_cdho3c.jpg);">
  <div class="container do-it">
    <h1>Why do it <strong>alone</strong> ?</h1>
    <p>We’ve made property investing easier for you.</p>
    <a class="btn-property btn-pad" href="#">Apply now</a>
  </div>
</div>
  <div class="container">
    <div class="how-it-works">
      <h1> how does it work ? </h1>
      <div class="inv-gro-yie">
        <div class="info-card">
          <h3> Invest </h3>
          <p> Buy shares in income producing property investments from £100. Choose how many shares you wish to own in any available investment!</p>
        </div>
        <div class="info-card" id="grow">
          <h3> Grow </h3>
          <p> As property prices grow so does the value of your shares. Track the movements from your online portfolio.</p>
        </div>
        <div class="info-card">
          <h3> Yield </h3>
          <p>Receive your share of the rental income in the form of monthly dividends if there are profits, and a share of any sale proceeds upon exit.</p>
        </div>
      </div>
    </div>
  </div>

