<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dvallavgs/image/upload/v1585238183/abstract-architecture-black-and-white-boardwalk-262367_jufirj.jpg);">
  <div class="container do-it">
    <h1> Looking to <strong> Raise Money For Your Development Project  </strong> ? </h1>
    <p>With Vestate and its crowd investors, raising funds for your property acquisition / development has never been so easy</p>
    <%= link_to "Start New Application", new_property_path, class: 'btn-success-home' %>
    <%= link_to "Talk To The Team", "#", class: 'btn-secondary-home' %>
  </div>
</div>

<div class="container container-info-page pt-3 pb-5">
  <h3>How it works</h3>
  <h3>Private Crowdfunding</h3>
  <h3>Public Crowdfunding</h3>


</div>
