<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1472224371017-08207f84aaae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1><strong>My Dashboard (coming soon!)</strong></h1>
  </div>
</div>
  <div class="container-home">
    <div class="p-2 border rounded h-100 d-flex flex-column text-center justify-content-between">
      Total currently invested: <%= current_user.investment_sum %> €
    </div>
      <br>
      <% if current_user.investments.any? %>
        <% @investments.each do |investment| %>
        <%= investment.amount %>
        <%= investment.property.name %>
        <%= investment.property.location %>
        <% end %>
      <% end %>
  </div
