.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh

}

.banner h1 {
  position: relative;
  top: -110px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  position: relative;
  top: -130px;
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-top:20px;
}

.do-it {
  margin-top: 120px;
  text-align: center;
}

.btn-pad {
  margin-top: 60px;
}


.banner-show {
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  position: relative;
  max-height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));

}

.banner-show-img {
  max-height: 500px;
  object-fit: cover;

}

.button-banner-show {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

}

.days-banner {
 position: absolute;
 font-weight: 800;
 border-top: solid 3px white;
 border-bottom: solid 3px white;
 color: white;
 // background: white;
 bottom: 30px;
 right: -40px;
 // padding: 5px;
 transform: rotate(-45deg);
 p {
  margin-bottom: 0;
  padding-right: 50px;
  padding-left: 50px;
  }

}

.banner-new-prop {
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;

}

.sign-up-wrapper {
  background-size: cover;
  padding: 20px;
}

.black_bgr {

  padding: 20px;
  background-color: rgba(0,0,0, 0.3);
}

.banner-form {
  padding-top: 80px;
}

.hero > h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.hero {
  padding: 10rem 8rem;
  margin: 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1472224371017-08207f84aaae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.banner-login {
  height: 100vh;
}

.banner-show-dashboard {
  min-width: 400px;
  max-width: 400px;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.text-banner {
  margin: 0 auto;
  width: 100px;
}



.investment-banner h2 {
  text-decoration: none;
  font-size: 25px;
  padding: 15px 0;
}

.banner-new-investment{
  background-size: cover;
  background-position: center;
  position: relative;
  height: 400px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
.banner-new-investment-message {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
}
