.btn-success {
  margin-top: 15px;
  padding: 12px;
  background-color: $green;
  color: $dark-grey;
  border-color: $green;
  opacity: 0.9;
  border-radius: 32px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

}

.btn-success:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: $dark-grey;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.btn-success-small {
  margin: 0px;
  padding-left: 8px;
  padding-right: 8px ;
  background-color: $green;
  color: black;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  vertical-align:middle;
}

.btn-success-small:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: $dark-grey;
  text-decoration: none;

}

.btn-property {
  padding: 10px;
  background-color: $green;
  color: black;
  opacity: 0.8;
  font-weight: bolder;
  width: 100%;
}

.btn-property:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
}

.btn-radius {
  border-radius: 10px
}

.btn-secondary {
  margin-top: 15px;
  padding: 12px;
  background-color: #393E46;
  color: #0CFFCA;
  border-color: #0CFFCA;
  opacity: 0.9;
  border-radius: 32px;
  font-weight: bold;
  width: 20%;
  text-align: center;
}

.btn-secondary:hover {
  text-decoration: none;
  opacity: 1;
  color: #0CFFCA;
  background-color: #393E46;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


.width-100 {
  width: 100% !important;
  display: block;
}

.btn-ghost {
  margin-top: 15px;
  padding: 12px;
  background-color: #393E46;
  color: #0CFFCA;
  border-color: #0CFFCA;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
  width: 100%;
  }

.btn-secondary-home:hover {
  text-decoration: none;
  opacity: 1;
  color: #0CFFCA;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.btn-success-home:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: $dark-grey;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.btn-success-home {
  position: relative;
  top: -100px;
  right: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: $green;
  color: #393E46;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
}

.btn-secondary-home {
  position: relative;
  top: -100px;
  left: 20px ;
   margin-top: 20px;
  padding: 20px;
  background-color: #393E46;
  color: #0CFFCA;
  border-color: #0CFFCA;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
}

.reject-btn {
  margin-top: 15px;
  padding: 3px;
  background-color: #f62928;
  border-color: #f62928;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  color: $white;
  padding-right: 8px;
  padding-left: 8px;

}

.accept-btn {
  color: $white;
  margin-top: 15px;
  padding: 3px;
  background-color: #63e51d;
  border-color: #63e51d;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
  width: 20%;
  text-align: center;
  padding-right: 8px;
  padding-left: 8px;

}

.accept-btn:hover {
  opacity: 1;
  background-color: #63e51d;
  border-color: #63e51d;
  color: $white;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.reject-btn:hover {
  opacity: 1;
  background-color: #f62928;
  border-color: #f62928;
  color: $white;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}







.btn-success-dash {
  position: relative;
  top: 80px;
  right: 0px;
  margin-top: 20px;
  padding: 20px;
  background-color: $green;
  color: #393E46;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
}

.btn-secondary-dash {
  position: relative;
  top: 80px;
  left: 20px ;
   margin-top: 20px;
  padding: 20px;
  background-color: #393E46;
  color: #0CFFCA;
  border-color: #0CFFCA;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
}

.btn-secondary-dash:hover {
  text-decoration: none;
  opacity: 1;
  color: #0CFFCA;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}

.btn-success-dash:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: $dark-grey;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


.btn-border-radius {
  border-radius: 32px;
  padding-bottom: 8px;
  padding-top: 10px;
  padding-right: 35px;
}


.btn-secours {
  top: 80px;
  right: 0px;
  margin-top: 20px;
  padding: 20px;
  background-color: $green;
  color: #393E46;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
}

.btn-secours:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: $dark-grey;
  text-decoration: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 10px 12px;
  cursor: pointer;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 32px;
}

.like-for-like i {
  padding: 5px;
  position: absolute;
  padding-top: 3px;
  bottom: 124px;
}
