.btn-success {
  margin-top: 15px;
  padding: 12px;
  background-color: #0CFFCA;
  color: black;
  border-color: #0CFFCA;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;

}

.btn-success:hover {
  opacity: 1;
  background-color: #0CFFCA;
  border-color: #0CFFCA;
  color: black;

}

.btn-property {
  padding: 10px;
  background-color: #0CFFCA;
  color: black;
  border-color: #0CFFCA;
  opacity: 0.8;
  font-weight: bolder;
  width: 100%;
}

.btn-property:hover {
  opacity: 1;
  background-color: #0CFFCA;
  border-color: #0CFFCA;
}
