.btn-success {
  margin-top: 15px;
  padding: 12px;
  background-color: $green;
  color: black;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;

}

.btn-success-small {
  margin: 0px;
  padding-left: 2px;
  padding-right: 2px ;
  background-color: $green;
  color: black;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  vertical-align:middle;
}

.btn-success:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: black;
  text-decoration: none;

}

.btn-property {
  padding: 10px;
  background-color: $green;
  color: black;
  opacity: 0.8;
  font-weight: bolder;
  width: 100%;
}

.btn-property:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
}

.btn-radius {
  border-radius: 10px
}

.btn-secondary {
  margin-top: 15px;
  padding: 12px;
  background-color: #393E46;
  color: #0CFFCA;
  border-color: #0CFFCA;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
}

.btn-secondary:hover {
  text-decoration: none;
}


.width-100 {
  width: 100% !important;
  display: block;
}

.btn-ghost {
  margin-top: 15px;
  padding: 12px;
  background-color: #393E46;
  color: #0CFFCA;
  border-color: #0CFFCA;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;
  width: 100%;
  }

.btn-secondary-home:hover {
  text-decoration: none;
  opacity: 1;
  color: #0CFFCA;
}

.btn-success-home:hover {
  opacity: 1;
  background-color: $green;
  border-color: $green;
  color: #393E46;
  text-decoration: none;
}

.btn-success-home {
  position: relative;
  top: -77px;
  right: 20px;
  margin-top: 15px;
  padding: 12px;
  background-color: $green;
  color: #393E46;
  border-color: $green;
  opacity: 0.8;
  border-radius: 32px;
  font-weight: bold;

}

.btn-secondary-home {
  position: relative;
  top: -77px;
  left: 20px ;
}


