
.card-new-investment {
  background-color: #c4c4c4;
  border-radius: 8px;
}

.card-img-top {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;

  // border: solid 1px $primary;
}


.card-property-img {
  height: 450px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  transition: .9s ease;
}


.card-property {
  background: #333;
  border-radius: 6px;
  color: white;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
    0 0 1rem rgba(0,0,0,0.2);
  text-decoration: none;
  transition: all 1.2s cubic-bezier(0.175, 0.885, 0, 1);
  margin-bottom: 10%;
}

.card__img--hover {
  transition: 0.9s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    text-decoration: none;
}

.card__like {
    width: 25px;
    margin: 10px;
    position: absolute;
    z-index: 5;
}

.card-description {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
}


.card-property-info a:hover {
  text-decoration: none;
}


.card__info {
  background-color: #333;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
}

.card-property-img .card-property-img--hover {
  transition: transform .9s ease;
  text-decoration: none;
}

.card-property:hover .card-property-img--hover {
    transform: scale(1.8, 1.8);
    background-size: cover;
    opacity: 0.6;


}

.card-property a:hover {
  text-decoration:none;
}



.card-property-column {
  min-height: 750px;
}

.border-bottom {
  border-bottom: 1px solid $grey-border;
}

.border-top{
  border-top: 1px solid $grey-border;
  padding-bottom: 15px;
  padding-top: 15px;
}

.border-right {
  border-right: 1px solid $grey-border;
}




.img-hover-zoom {
  overflow: hidden;
  height: 450px
}


.investment-banner {
  text-align: center;
}

.card-investment h3 {
  text-decoration: none;
  font-size: 18px;
  padding: 20px 0;
  text-align: left;
}

.card-investment p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: #8E8E8E;
}

.card-investment .card-investment-info {
  color: black;
  padding: 20px;
  text-align: left;
  text-decoration: none;
}

.card-investment {
  border-radius: 4px;
  margin: 20px;
  background-color: #FCFFFB;
  height: 250px;
  width: 800px;
}

.card-confirmation-payment {
  max-width: 400px;
}
.card-investment-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.text-decoration {
  text-decoration: none;
}


