
.card-new-investment {
  background-color: #c4c4c4;
  height: 300px;
  border-radius: 16px;
}

.card-img-top {
  height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;

  // border: solid 1px $primary;
}


.card-property-img {
  height: 450px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
  transition: .9s ease;
}


.card-property {
  background: #333;
  border-radius: 6px;
  color: white;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
    0 0 1rem rgba(0,0,0,0.2);
  text-decoration: none;
  transition: all 1.2s cubic-bezier(0.175, 0.885, 0, 1);
  margin-bottom: 10%;
}

.card__img--hover {
  transition: 0.9s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;
    text-decoration: none;
}

.card__like {
    width: 25px;
    margin: 10px;
    position: absolute;
    z-index: 5;
}

.card-description:hover {
  text-decoration: none;
}

.card-property:hover {
 /* box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
  transform: scale(1.10, 1.10);
  z-index: 10;
  position: absolute;
  width: 100%;*/
  text-decoration: none;
}

.card__info {
  background-color: #333;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
}

.card-property-img .card-property-img--hover {
  transition: transform .9s ease;
  text-decoration: none;
}

.card-property:hover .card-property-img--hover {
    transform: scale(1.8, 1.8);
    background-size: cover;
    opacity: 0.6;
    text-decoration: none;

}


.card-property-column {
  min-height: 750px;
}

.border-bottom {
  border-bottom: 1px solid $grey-border;

}

.border-right {
  border-right: 1px solid $grey-border;
}


.card-show {
  flex-basis: 50%;
  min-height: 100px;
  border: solid 1px $grey-border;
  border-radius: 4px;
  padding: 30px;
  margin: 10px;
  background-color: white;
}

.img-hover-zoom {
  overflow: hidden;
  height: 450px
}

.info {
  width: 300px;
  color: white;
  text-shadow: 2px;
  padding: 30px;
  background: #303248;
  border-radius: 2px;
  display: inline-block;
  height: 200px;
  margin: 1rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.info h3 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: bold;
}

.info p{
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 25px;
}

.investment-banner {
  text-align: center;
}

.card-investment img {
  height: 100%;
  width: 400px;
  object-fit: cover;
}

.card-investment h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.card-investment p {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-investment .card-investment-info {
  text-align: center;
  padding: 16px;
}

.card-investment {
  border: 1px solid $grey-border;
  border-radius: 4px;
  margin: 20px;
  background-color: white;
  height: 250px;
}

.card-confirmation-payment {
  max-width: 400px;
}
