.navbar-lewagon {
  width: 100%;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: background-color 400ms linear;
}

.navbar-transparent {
  background: transparent;
}

.navbar-colored {
  transition: background-color 400ms linear;
  background: $dark-grey;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-light .navbar-nav .nav-link {
  color: $white;
}


.navbar-light .navbar-nav .nav-link {
  color: $white;
}

.nav-item {
  color: $white;
}
